@{
    ViewBag.Title = "Toplantı Özeti";
}

<main class="text-center">
    
    <h1 class="h4">Toplantı Özeti</h1>
    <h2>Toplantıya sizinle birlikte 20 kişi katılıyor.</h2>
    <a class="btn btn-sm btn-outline-primary" href="/meeting/list">Katılımcıları Listele</a>
</main>